.right__menu {
    padding: 0 4.3rem 0 2rem;
    width: 200px;
}

.right__menu__user {
    display: flex;
    align-items: center;
}

.right__menu__user img {
    border-radius: 50%;
    margin-right: 10px;
}

.right__menu__user p {
    margin: 0;
    padding: 0;
    margin-right: 2.3rem;
}

.right__menu__user__logout {
    cursor: pointer;
    display: flex;
    align-items: center;
    color: black !important;
    text-decoration: none;
}

.right__menu__friends h3 {
    font-size: 10pt;
}

.right__menu__friends__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-decoration: none;
    padding: 0 1rem;
    gap: 0.5rem;
}

.user__friend {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user__friend img {
    border-radius: 50%;
    margin-right: 10px;
}

.user__friend p {
    margin: 0;
    padding: 0;
}

.right__menu__friends__empty,
.right__menu__friends__alot {
    opacity: 0.5;
    font-size: 0.6rem;
    text-decoration: none;
    color: black;
}

.user__friend__name {
    text-decoration: none !important;
    color: black !important;
    display: flex;
    align-items: center;
    font-size: 10pt;
}