.top-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.likeButton, .createPost {
    margin-left: 10px; 
    background-color: white;
    border: none;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.likeButton{
    color: red;
}