.profile-header {
    display: flex;
    flex-direction: row; /* Cambiado de column a row para que los elementos se dispongan en una fila */
    align-items: center; /* Alinea la imagen y la información en la misma línea */
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.profile-picture-container {
    margin-right: 20px; /* Añade un margen a la derecha de la imagen para separarla del texto */
}

.profile-picture {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid #ddd;
    object-fit: cover;
}

.profile-info {
    text-align: left; /* Asegúrate de que el texto esté alineado a la izquierda */
}

.profile-username {
    font-size: 28px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}

.profile-description {
    font-size: 16px;
    color: #777;
    margin-bottom: 20px;
}

.profile-stats {
    display: flex;
    gap: 30px;
}

.stat-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Alinea las estadísticas a la izquierda */
}

.stat-item strong {
    font-size: 20px;
    color: #333;
}

.stat-item span {
    font-size: 14px;
    color: #888;
}