.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 450px;
  margin: 0 auto;
  padding: 30px; 
  background-color: #f9f9f9;
  min-height: 100vh;
  border: 3px solid black;
  border-radius: 8px; 
}

.form-container {
  width: 100%;
  padding: 20px;
}

#h2 {
  font-family: 'Arial, sans-serif'; 
  font-size: 2.5rem; 
  margin-bottom: 40px; 
  text-align: center;
}

.data {
  width: calc(100% - 24px);
  padding: 15px; 
  margin-bottom: 25px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
}

.error {
  color: red; 
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

.success {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

.submitButton {
  width: 100%;
  padding: 15px; 
  margin-top: 30px;
  background-color: #627f72; 
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
}

.submitButton:hover {
  background-color: #659477;
}
