.container {
  max-width: 450px;
  margin: 0 auto;
  padding: 25px;
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  width: 100%;
  padding: 20px;
  border: 1px solid #ddd; 
  border-radius: 

}

#h2 {
  font-size: 1.8rem;
  margin-bottom: 100px; 
}

.data {
  width: 100%;
  padding: 12px;
  margin-bottom: 20px; 
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1.1rem;
}

.error, .success {
  font-size: 1.1rem;
  margin-bottom: 20px;
  text-align: center;
}

.submitButton {
  width: 100%;
  padding: 12px;
  margin-top: 30px; 
  background-color: #5ba7a0;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #4a8986;
}
