.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.top_header img {
    width: 120px;
    height: auto;
}

.icons {
    display: flex;
    align-items: center;
    gap: 10px;
}