.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.top_header img {
    width: 120px;
    height: auto;
}

.likeButton, .createPost {
    margin-left: 10px; 
    background-color: white;
    border: none;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.likeButton{
    color: red;
}