.top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

.top_header img {
    width: 120px;
    height: auto;
}

.likeButton, .createPost {
    margin-left: 10px; 
    background-color: white;
    border: none;
    gap: 10px;
    font-size: 20px;
    cursor: pointer;
}

.likeButton{
    color: red;
}

@media (max-width: 360px) {
    .top_header {
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
    }

    .top_header img {
        width: 100px;
    }

    .likeButton, .createPost {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .top_header {
        padding: 0.5rem;
    }

    .top_header img {
        width: 80px;
    }

    .likeButton, .createPost {
        font-size: 16px;
    }
}